<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PWA Demo peliculas</title>
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="img/manifest-icon-192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="css/nprogress.css">
    <!-- JavaScript -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="js/nprogress.js"></script>
    <script defer src="js/main.js"></script>
</head>
<body>
<div class="container">
    <main id="app">
        <div class="block">
            <h1 class="title is-center">Peliculas</h1>
            <button class="button" @click="verFormAnyadir = !verFormAnyadir">Añadir</button>
        </div>
        <div class="block" v-if="verFormAnyadir">
            <form>
                <h2 class="subtitle">Nueva</h2>
                <div class="field">
                    <div class="control">
                        <input v-model="nuevoNombre" class="input" type="text" placeholder="Nombre pelicula">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input v-model="nuevaDuracion" class="input" type="number" placeholder="Duracion">
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary" @click.prevent="addPelicula">Guardar</button>
                </div>
            </form>
        </div>
        <div class="block">
            <table width="100%">
                <tr>
                    <th>titulo</th>
                    <th>duracion</th>
                    <th>acciones</th>
                </tr>
                <tr v-for="pelicula in peliculas">
                    <td>
                        <!-- Nombre -->
                        <input v-if="peliculasEditables == pelicula.id" v-model="editarNombre" class="input" type="text" placeholder="Nombre pelicula">
                        <span v-else>{{ pelicula.name }}</span>
                    </td>
                    <td>
                        <!-- Duracion -->
                        <input v-if="peliculasEditables == pelicula.id" v-model="editarDuracion" class="input" type="number" placeholder="Duracion">
                        <span v-else>{{ pelicula.duration }}</span> min
                    </td>
                    <td>
                        <!-- Botones editar -->
                        <button class="button" v-if="peliculasEditables != pelicula.id" :disabled="isLoading" @click="verEditarPelicula(pelicula.id)">Editar</button>
                        <button class="button" @click="editarPelicula(pelicula.id)" v-else :disabled="isLoading">Guardar</button>
                        <!-- Boton borrar -->
                        <button :disabled="isLoading" class="delete" @click="deletePelicula(pelicula.id)"></button>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</div>
</body>
</html>

